
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* Estilos para el header */
  .logo{
    padding: 0;
    margin: 0;
    margin-left: 1%;
    margin-top: -2% ;
    width: 100px;
    transition: 0.9s;
  }
  .logo:hover{
    width: 110px;
    transition: 0.9s;
  }
  .nav{
    margin-top: -2%;
    margin-left: -2%;
    width: 1460px;
    height: 120px;
    background-color: rgb(24, 23, 23);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold ;
}
  h1{
    color: white;
    font-size: 45px;
  }
  ul li{
    display: inline-block;
    padding: 0px 20px;
  }
  a{
    color: rgb(78, 11, 11) !important;
    text-decoration:none !important;
    transition: 0.9s;
  }
  a:hover{
    color: rgb(160, 11, 11) !important;
    font-size: 20px;
    transition: 0.9s;
  }
  @media (max-width: 767px) {
    nav{
      height: 70px;
    }
    .logo{
      margin-left:auto ;
      margin-top: -5%;
      width: 50px;
    }
    .logo:hover{
      width: 55px;
    }
    .l ,.c ,.q, .i{
      font-size: 10px;
    }
    .c{
      margin-left: 100%;
    }
    .l{
      margin-left: 30%;
    }

  }



  /* Estilos para el carousel */
  .carrusel {
    width: 1500px;
    height: 700px;
}
  


@media (max-width: 767px) {
    .carrusel {
        width: 500px;
        height: 250px;
    }
  }


  
  /* Estilos para las cards */
    .card1{
      display:flex !important;
      width: 100%;
      justify-content: space-between !important ;
    }
    .card1-1{
      margin-left: 60%;
      width: 200%;
    }
    .card2{
      margin-left: 4%;
      display:flex !important;
      width: 100%;
      justify-content: space-between !important ;
    }
    .card2-2, .card2-21{
      width: 89%;

    }
    .card2-2{
      margin-left: 18%;
    }
    .card2-21{
      margin-left: -32%;
    }
    .card3-3{
      margin-left: 15%;
    }
    .card3-31{
      margin-right: 15%;
    }




    .menu{
      background-color: rgb(105, 15, 15) !important;
      border: none !important;
      color: white !important;
    }
    .menu:hover{
      color: white !important;
    }
    @media (max-width: 767px) {
      .card1 {
          width: 100%;
          margin-left: 0%;
      }
      .card1-1{
        width: 100%;
      }
      .card1-1{
        width: 100%;
      }
      .nuggets{
        width: 100%;
        height: 1%;
      }
      .card2-2{
        width: 80%;
        margin-left: -3%;
      }
      .card2-21{
        width: 97%;
        margin-left:-14%;
      }

    }
  
 
  /* Estilos para el footer */
  .footer {
      width: 100%;
      background-color: rgb(24, 23, 23);
      align-items: center;
  }
  .pfooter{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .fb, .ig, .tt{
    margin-left: 20%;
    align-items: center;
    width: 5%;
    margin-bottom: 2%;
  }
  .fb:hover, .ig:hover, .tt:hover{
    width: 6%;
    transition: 0.9s;
  }
  