
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* Estilos para el header */
  .logo{
    padding: 0;
    margin: 0;
    margin-left: -5%;
    margin-top: -2% ;
    width: 100px;
    transition: 0.9s;
  }
  .logo:hover{
    width: 110px;
    transition: 0.9s;
  }
nav{
    height: 120px;
    background-color: rgb(24, 23, 23);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold ;
}
  h1{
    color: white;
    font-size: 45px;
  }
  ul li{
    display: inline-block;
    padding: 0px 20px;
  }
  a{
    color: rgb(78, 11, 11) !important;
    text-decoration:none !important;
    transition: 0.9s;
  }
  a:hover{
    color: rgb(160, 11, 11) !important;
    font-size: 20px;
    transition: 0.9s;
  }
  @media (max-width: 767px) {
    nav{
      height: 70px;
    }
    .logo{
      margin-left:auto ;
      margin-top: -5%;
      width: 50px;
    }
    .logo:hover{
      width: 55px;
    }
    .l ,.c ,.q, .i{
      font-size: 10px;
    }
    .c{
      margin-left: 100%;
    }
    .l{
      margin-left: 30%;
    }

  }

/* acordeon */

  .cont-acord{
    margin: 50px;
    padding: auto;
    width: 70%;
  }

    /* Estilos para el footer */
    .footer {
      width: 100%;
      background-color: rgb(24, 23, 23);
      align-items: center;
  }
  .pfooter{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .fb, .ig, .tt{
    margin-left: 20%;
    align-items: center;
    width: 5%;
    margin-bottom: 2%;
  }
  .fb:hover, .ig:hover, .tt:hover{
    width: 6%;
    transition: 0.9s;
  }
  